@charset "UTF-8";

/* Todas as mídias */
/*
	Typical Device Breakpoints:

	Extra small devices (phones, 600px and down)
	@media only screen and (max-width: 600px) {...}

	Small devices (portrait tablets and large phones, 600px and up) 
	@media only screen and (min-width: 600px) {...}

	Medium devices (landscape tablets, 768px and up) 
	@media only screen and (min-width: 768px) {...}

	Large devices (laptops/desktops, 992px and up) 
	@media only screen and (min-width: 992px) {...}

	Extra large devices (large laptops and desktops, 1200px and up)
	@media only screen and (min-width: 1200px) {...}
*/

@media print {
	* {
		font-family: 'Courier New', Courier, monospace;

	}

	body {
		background-image: url(../imagens/back-print.jpg);
	}

	main {
		border: 2px solid black;
		width: 80vw;
	}

	main::after {
		content: 'Essa impressão foi feita através do site www.teste.com.br';
	}

	main h1{
		text-shadow: none;
		color: black;
	}

	#phone { display: none; }
	#tablet { display: none; }
	#print { display:block; }
	#pc { display:none; }
	#tv { display:none; }
}

@media screen and (min-width: 768px) and (max-width: 992px) { /*Tablet*/
	body {
		background-image: url(../imagens/back-tablet.jpg);
	}

	#phone { display: none; }
	#tablet { display: block; }
	#print { display:none; }
	#pc { display:none; }
	#tv { display:none; }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /*Desktop*/
	body {
		background-image: url(../imagens/back-pc.jpg);
	}

	#phone { display: none; }
	#tablet { display: none; }
	#print { display:none; }
	#pc { display:block; }
	#tv { display:none; }
	}

@media screen and (min-width: 1200px) { /*Telas Grandes*/
	body {
		background-image: url(../imagens/back-tv.jpg);
	}

	main {
		width: 700px;
	}

	#phone { display: none; }
	#tablet { display: none; }
	#print { display:none; }
	#pc { display:none; }
	#tv { display:block; }
}